name: Market Sentinel Daily Analysis

on:
  schedule:
  - cron: '44 13 * * *' # 10:44 BRT (10:44 + 3h = 13:44 UTC)
  
  - cron: '39 14 * * *' # 11:39 BRT (11:39 + 3h = 14:39 UTC)
  
  - cron: '07 18 * * *' # 15:07 BRT (15:07 + 3h = 18:07 UTC)
  
  - cron: '33 20 * * *' # 17:33 BRT (17:33 + 3h = 20:33 UTC)

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Executar Agente Financeiro
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python script.py
