name: Market Sentinel Daily Analysis

on:
  schedule:
  - cron: '0 13 * * *' # 10:00 BRT (Todos os dias)
  
  - cron: '0 14 * * *' # 11:00 BRT (Todos os dias)
  
  - cron: '0 18 * * *' # 15:00 BRT (Todos os dias)
  
  - cron: '0 21 * * *' # 18:00 BRT (Todos os dias)

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt

      - name: Executar Agente Financeiro
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python script.py
